# Install/Sync Logs #
#####################
logInstall-*
logSync-*

# case output       # 
#####################
case/*/0*
case/*/1*
case/*/2*
case/*/3*
case/*/4*
case/*/5*
case/*/6*
case/*/7*
case/*/8*
case/*/9*
case/*/processor*
case/*/fieldMeasurements
case/*/EnSight

case/*/*/0*
case/*/*/1*
case/*/*/2*
case/*/*/3*
case/*/*/4*
case/*/*/5*
case/*/*/6*
case/*/*/7*
case/*/*/8*
case/*/*/9*
case/*/*/processor*
case/*/*/fieldMeasurements
case/*/*/EnSight

case/*/*/*/0*
case/*/*/*/1*
case/*/*/*/2*
case/*/*/*/3*
case/*/*/*/4*
case/*/*/*/5*
case/*/*/*/6*
case/*/*/*/7*
case/*/*/*/8*
case/*/*/*/9*
case/*/*/*/processor*
case/*/*/*/fieldMeasurements
case/*/*/*/EnSight

# binary            #
#####################
platforms
src/parallel/decompose/decompose/Make/linux64IcxDPInt32Opt/decompositionInformation.C.dep
src/parallel/decompose/decompose/Make/linux64IcxDPInt32Opt/decompositionInformation.o
src/parallel/decompose/decompose/Make/linux64IcxDPInt32Opt/decompositionModel.C.dep
src/parallel/decompose/decompose/Make/linux64IcxDPInt32Opt/decompositionModel.o
src/parallel/decompose/decompose/Make/linux64IcxDPInt32Opt/dimFieldDecomposer.C.dep
src/parallel/decompose/decompose/Make/linux64IcxDPInt32Opt/dimFieldDecomposer.o
src/parallel/decompose/decompose/Make/linux64IcxDPInt32Opt/fvFieldDecomposer.C.dep
src/parallel/decompose/decompose/Make/linux64IcxDPInt32Opt/fvFieldDecomposer.o
src/parallel/decompose/decompose/Make/linux64IcxDPInt32Opt/fvFieldDecomposerCache.C.dep
src/parallel/decompose/decompose/Make/linux64IcxDPInt32Opt/fvFieldDecomposerCache.o
src/parallel/decompose/decompose/Make/linux64IcxDPInt32Opt/lagrangianFieldDecomposer.C.dep
src/parallel/decompose/decompose/Make/linux64IcxDPInt32Opt/lagrangianFieldDecomposerCache.C.dep
src/parallel/decompose/decompose/Make/linux64IcxDPInt32Opt/options
src/parallel/decompose/decompose/Make/linux64IcxDPInt32Opt/pointFieldDecomposer.C.dep
src/parallel/decompose/decompose/Make/linux64IcxDPInt32Opt/pointFieldDecomposer.o
src/parallel/decompose/decompose/Make/linux64IcxDPInt32Opt/pointFieldDecomposerCache.C.dep
src/parallel/decompose/decompose/Make/linux64IcxDPInt32Opt/pointFieldDecomposerCache.o
src/parallel/decompose/decompose/Make/linux64IcxDPInt32Opt/sourceFiles
src/parallel/decompose/decompose/Make/linux64IcxDPInt32Opt/variables

bkp/
