# Install/Sync Logs #
#####################
logInstall-*
logSync-*

# case output       # 
#####################
case/*/0*
case/*/processor*
case/*/log.*
case/*/fieldMeasurements
case/*/EnSight

# binary            #
#####################
platforms